html {
     font-family: "Comic Sans MS", sans-serif;
    background-color: black;
    color: black;
}

header {
    text-align: center;
}

div {
    color: white;
}

h1 {
    font-family: "Comic Sans MS", sans-serif;
    color:black
}

