html {
     font-family: "Comic Sans MS", sans-serif;
     color: black;
}

div {
    color: white;
}

header {
    text-align: left;
}


h1 {
    font-family: "Comic Sans MS", sans-serif;
    color:black;
}
